* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(Images/bg-img.jpg);
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header nav .logo img {
  margin-top: 20px;
  margin-left: 120px;
  background-color: transparent;
  height: 50px;
}

header nav p {
  margin-left: 100px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 14px;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

header ul li a {
  text-decoration: none;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header ul li a:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: rgb(232, 232, 232);
  color: lightgrey;
}

header nav li {
  padding: 25px;
  list-style: none;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav button {
  color: white;
  background-color: transparent;
  height: 50px;
  width: 120px;
  border: none;
  margin: 5px;
  font-size: 15px;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1);
}

button:hover {
  opacity: 0.7;
  cursor: pointer;
  text-decoration-color: white;
  box-shadow: 0 6px 20px rgba(255, 255, 255, 0.8),
    0 6px 30px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

main {
  margin-top: 150px;
  margin-left: 840px;
  width: 40%;
  height: 350px;
  border: 2px solid white;
  border-radius: 20px;
}

main .form-area {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main .form-area input[type="text"],
input[type="number"] {
  width: 20rem;
  height: 25px;
  padding: 5px;
  margin: 5px;
  font-size: 16px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px;
  border: none;
  font-weight: 700;
}

.submit-btn {
  margin-top: 5px;
  width: 21rem;
  height: 35px;
  color: white;
  border-radius: 6px;
  border: 3px solid grey;
  background-color: black;
}

main select {
  text-align: center;
  font-size: 14px;
  margin: 5px;
  padding: 10px;
  font-weight: 700;
  color: grey;
  width: 20.9rem;
  border-radius: 5px;
  border: none;
  height: 35px;
}

main h2 {
  margin-top: 20px;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}
